
.el-header{
  /*header自带内联高度，只能在内联样式里覆盖，改这里没用*/
  width: 100%;
}

.img-container{
  padding: 40px 291px 11px 357px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hl-img{
  height: 108px;
  width: 454px;
}

.hr-img{
  height: 76px;
  width: 345px;
}
